<ion-view view-title="Charity">
  <ion-content class="padding">

    <div class="padding donation-title">
      <h2 class="font-light centered red">Thanks for donating!</h2>
    </div>

    <div class="padding lovecharities-logo" style="text-align:center;">
      <img style="display:inline-block" align="center" src="img/logo.svg" width="200">
    </div>

    <div class="padding donation-thankyou-text align-center">
      <p style="text-align:center;">You have successfully donated <strong>{{donation.Amount}}</strong> to <strong>{{donation.CharityName}}</strong></p>
    </div>

    <div class="padding donation-next">
      <button class="button button-outline button-block button-assertive" ui-sref="tab.dash">
        My Donation History
      </button>
      <button class="button button-block button-assertive" ui-sref="tab.charity({id: donation.CharityId})">
        Back to Charity
      </button>
    </div>

  </ion-content>
</ion-view>
