<ion-view view-title="Charity">
  <ion-content class="charity-content">

    <!-- BEGIN // Background section-->
    <div class="background-header">
      <img class="img-responsive" ng-src="{{coverImage}}">
    </div>


    <!-- BEGIN // Name Header-->
    <div class="name-header padding">
      <div class="name-header-left">
        <div class="img-container">
          <img class="logo charity-logo" ng-src="{{charity.data.logoAbsoluteUrl}}">
        </div>
      </div>
      <div class="name-header-right">
        <h2>{{charity.data.name}} <span class="verified-tag"></span></h2>
        <p>{{charity.data.impactStatementWhat}}</p>
      </div>
    </div>

    <!-- BEGIN // Donate-->
    <div class="padding">
      <button class="button button-block button-assertive" ui-sref="tab.charity.dontate">
        DONATE
      </button>
    </div>


    <!-- BEGIN // Contributors-->
    <div class="list">

      <div class="item">
        <h2>Contributors</h2>
        <div class="horizontal-list contributor-lists">
          <ul>
            <li ng-repeat="contributor in contributors">
              <img class="round" ng-src="{{contributor.image}}">
            </li>
            <li class="morelink">
              <a href="#">+25 more</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="item">
        <h2>About Us</h2>
        <p class="content-paragraph">{{charity.data.description}}</p>
      </div>


      <a class="item" ng-href="{{charity.data.websiteUrl}}" target="_blank">
        Visit Website
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>


      <div class="item">
        Registration Number
        <span class="item-note">
          {{charity.data.registrationNumber}}
        </span>
      </div>


    </div>



    <!--  // Contributors-->








  </ion-content>
</ion-view>
