<ion-view view-title="Local Charities">
  <ion-content class="padding">
    <!--     <div>
      {{watchData}}
    </div>
    <div>
      {{description}}
    </div> -->
    <h2 ng-if="!beacons">Searching for charities</h2>

<!--     <div class="list card" ng-click="goCharity()" ng-repeat="beacon in beacons">
  <div class="item item-divider">{{beacon.name.split('|')[0]}}</div>
  <div class="item item-body">
    <p>
      {{beacon.proximity}}
    </p>
    <p>{{beacon.name.split('|')[1]}}</p>
  </div>
</div> -->

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="beacon in beacons" type="item-text-wrap" href="#/tab/charity/{{beacon.name.split('|')[1]}}">

        <h2>{{beacon.name.split('|')[0]}}</h2>
        <p>{{beacon.proximity}}</p>
        <p>{{beacon.name.split('|')[1]}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
