<ion-view view-title="Account">
  <ion-content>
<!--     <div class="bar bar-subheader">
  <h1 class="title">Make a profile</h1>
</div> -->
    <div class="padding">
      <h3>Your Details</h3>
    </div>
    <ng-form name="accountCreation">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="firstName" name="fistName" id="firstName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="lastName"  name="lastName" id="lastName">
        </label>
        <label class="item item-input">
          <span class="input-label">Company</span>
          <input type="text" ng-model="company"  name="company" id="company">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="email"  name="email" id="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Fax</span>
          <input type="text" ng-model="fax"  name="fax" id="fax">
        </label>
        <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="phone"  name="phone" id="phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Website</span>
          <input type="text" ng-model="website"  name="website" id="website">
        </label>

      </ion-list>
      <div class="padding">
        <button type="submit" ng-click="accountSubmit()" class="button button-block button-assertive">
          Save
        </button>
      </div>
    </ng-form>
  </ion-content>
</ion-view>
