<ion-view view-title="LoveCharities">
  <ion-content class="">

    <div class="dashboard-profile">
      <img src="img/cover-profile.jpg" alt="">

      <div class="dashboard-profile-overview">
        <div class="dashboard-avatar">
          <img src="img/john.png">
        </div>
        John Smith
      </div>

    </div>

    <div class="item item-divider" ng-if="beacons.length">
      Charities around me
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="beacon in beacons" type="item-text-wrap" href="#/tab/charity/{{beacon.name.split('|')[1]}}">
        <img src="img/logo-g.png" alt="">
        <h2>{{beacon.name.split('|')[0]}}</h2>
        <p>{{beacon.proximity}}</p>
        <p>{{beacon.name.split('|')[1]}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <div class="block-holder">
      <div class="block">
        <div class="load"ng-if="donationsLoading"><i class="ion-load-c load-spin"></i></div>
        <span ng-if="!donationsLoading">{{transactions.length}}</span>
        <small>Donations</small>
      </div>
      <div class="block">
        20
        <small>Charities</small>
      </div>
      <div class="block">
        <div class="load"ng-if="donationsLoading"><i class="ion-load-c load-spin"></i></div>
        <span ng-if="!donationsLoading">${{transactionsTotal}}</span>
        <small>Donated</small>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="transaction in transactions">
        <img src="img/logo-g.png" alt="">
        <h2>{{transaction.CharityName}}</h2>
        <p>You donated ${{transaction.Amount}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
